@font-face {
  font-family: "TTCommonsTrl";
  src: url("../assets/fonts/TTCommonsTrl-DemiBold.woff2") format("woff2");
  font-weight: 600; // DemiBold
  font-style: normal;
}

@font-face {
  font-family: "TTCommonsTrl";
  src: url("../assets/fonts/TTCommonsTrl-Bold.woff2") format("woff2");
  font-weight: bold; // Bold
  font-style: normal;
}

@font-face {
  font-family: "TTCommonsTrl";
  src: url("../assets/fonts/TTCommonsTrl-Medium.woff2") format("woff2");
  font-weight: 500; // Medium
  font-style: normal;
}

html {
  font-family: "TTCommonsTrl", sans-serif;
}

.v-expansion-panel__shadow {
  box-shadow: none !important;
}

.v-expansion-panel-title__icon {
  color: #da3468;
}

.v-expansion-panel-title__overlay {
  padding: 0 !important;
}

.v-expansion-panel-title {
  padding: 0 !important;
  min-height: 5px !important;
  font-size: 16px !important;
  font-weight: 600;
  line-height: 20px;
  color: #29354f;
}

.v-expansion-panel-text__wrapper,
ul {
  padding: 0 !important;
  padding-top: 8px !important;
  gap: 12px;
  display: flex;
  flex-direction: column;
}

.v-expansion-panel-title:hover > .v-expansion-panel-title__overlay {
  opacity: 0 !important;
}
